{% extends 'PixelbonusSiteBundle::base.html.twig' %}

{% block content %}
<!-- Header -->
<header>
    <div class="container">
        <h2>{{'home.motto'|trans}}</h2>
        <hr class="star-primary">
        <div class="row">
            <div class="col-lg-6">
                <a href="{{path('redeem')}}"><img class="img-responsive" style="width: 30%;" src="{{asset('img/participant.png')}}" alt=""></a>
                <div class="intro-text" style="margin-right: -15px; padding-left: 40px; padding-right: 40px;">
                    <a href="{{path('redeem')}}" class="name btn btn-default">{{'home.im_participant'|trans}}</a>
                    <br>
                    <span class="skills">{{'home.participant_legend'|trans}}</span>
                </div>
            </div>
            <div class="col-lg-6">
                <a href="{{path('courses')}}"><img class="img-responsive" style="width: 30%;" src="{{asset('img/tutor.png')}}" alt=""></a>
                <div class="intro-text border-l" style="padding-left: 55px; padding-right: 40px;">
                    <a href="{{path('courses')}}" class="name btn btn-default">{{'home.im_instructor'|trans}}</a>
                    <br>
                    <span class="skills">{{'home.instructor_legend'|trans}}</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block footer %}
<!-- Footer -->
<footer class="text-center">
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; Pixelbonus {{'now'|date('Y')}}
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}