{% extends 'PixelbonusSiteBundle::base.html.twig' %}

{% macro sortLink(field, selectedSortField, selectedSortDirection, app) %}
    {% if selectedSortField != field %}
        {% set newDir = 'ASC' %}
    {% elseif selectedSortDirection == 'ASC' %}
        {% set newDir = 'DESC' %}
    {% elseif selectedSortDirection == 'DESC' %}
        {% set newDir = 'ASC' %}
    {% endif %}
    {{path(app.request.get('_route'), app.request.get('_route_params')|merge(app.request.query.all())|merge({'sortBy': field, 'sortDir': newDir}))}}
{% endmacro %}

{% macro sortArrow(field, selectedSortField, selectedSortDirection, app) %}
    {% if selectedSortField == field %}
        {% if selectedSortDirection == 'ASC' %}&#x25B2;{% else %}&#x25BC;{% endif %}
    {% endif %}
{% endmacro %}

{% import _self as selfMacros %}

{% block content %}
<section>
    <div class="container">
        {% block grades_header %}
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{'qr.grades'|trans}}</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-2">
            Tags:
            </div>
            <div class="col-lg-10 text-left">
                <ul class="list-inline">
                    {% for tag in tags %}
                        <li>
                            <a href="{{path('course_grades', app.request.get('_route_params')|merge(app.request.query.all())|merge({'course': course.id, 'tag': tag.id}))}}" {% if selectedTag == tag.id %}style="text-decoration: underline;"{% endif %}>{{tag.name}}</a>
                            {% if selectedTag == tag.id %}<li><a href="{{path('course_grades', app.request.get('_route_params')|merge(app.request.query.all())|merge({'course': course.id, 'tag': null}))}}" style="color: red;" title="Remove tag">X</a>{% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {#<hr />
        <div class="row text-center">
            <div class="col-lg-2">
            {{'qr.grading_model'|trans}}:
            </div>
            <div class="col-lg-2"><a href="{{path('course_grades', app.request.get('_route_params')|merge(app.request.query.all())|merge({'course': course.id, 'model': 'curved_grading'}))}}" {% if selectedGradingModel == 'curved_grading' %}style="text-decoration: underline;"{% endif %}>{{'qr.curved_grading'|trans}}</a></div>
        </div>#}
        <hr />
        {% endblock %}
        <div class="row text-center">
            <div class="col-lg-12">
                <h3 style="margin-top: 0px; margin-bottom: 25px;">{{course.name}}</h3>
                <table class="table table-bordered grades-table">
                    <tr>
                        <th><a href="{{selfMacros.sortLink('participantNumber', selectedSortField, selectedSortDirection, app)}}" {% if selectedSortField == 'participantNumber' %}style="text-decoration: underline;"{% endif %}>{{'redemption.participantNumber'|trans}} {{selfMacros.sortArrow('participantNumber', selectedSortField, selectedSortDirection, app)}}</a></th>
                        <th><a href="{{selfMacros.sortLink('rcount', selectedSortField, selectedSortDirection, app)}}" {% if selectedSortField == 'rcount' %}style="text-decoration: underline;"{% endif %}>{{'redemption.redemptionCount'|trans}} {{selfMacros.sortArrow('rcount', selectedSortField, selectedSortDirection, app)}}</a></th>
                        {% if hideGrades is not defined or hideGrades != true %}<th><a href="{{selfMacros.sortLink('grade', selectedSortField, selectedSortDirection, app)}}" {% if selectedSortField == 'grade' %}style="text-decoration: underline;"{% endif %}>{% if selectedGradingModel is defined and selectedGradingModel == 'ranking' %}{{'redemption.ranking'|trans}}{% else %}{{'redemption.grade'|trans}}{% endif %} {{selfMacros.sortArrow('grade', selectedSortField, selectedSortDirection, app)}}</a></th>{% endif %}
                    </tr>
                    {% for redemption in redemptions %}
                        <tr>
                            <td>{{redemption.participantNumber}}</td>
                            <td>{{redemption.rcount}}</td>
                            {% if hideGrades is not defined or hideGrades != true %}<td>{{redemption.grade}}</td>{% endif %}
                        </tr>
                    {% endfor %}
                </table>
                {% block grades_actions %}
                <a href="{{path('course_grades', app.request.get('_route_params')|merge(app.request.query.all())|merge({'export': 'true'}))}}" id="new-qr-set" class="btn btn-default">{{'qr.grades_export'|trans}}</a>
                <hr />
                <p><a href="{{path('course', {'course': course.id})}}">{{ 'redemption.back'|trans }}</a></p>
                {% endblock %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
