{% extends 'PixelbonusSiteBundle::base.html.twig' %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{course.name}}</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-12">
                <h3 style="margin-top: 0px; margin-bottom: 25px;">{{'qr.qrsets'|trans}}</h3>
                <table class="table table-bordered">
                    <tr>
                        <th>{{'qr.createdAt'|trans}}</th>
                        <th>Tags</th>
                        <th>{{'qr.redemptions'|trans}}</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                    {% for qrset in qrsets %}
                        <tr>
                            <td>{{qrset.createdAt|date('d-m-Y')}}</td>
                            <td>{{qrset.tagsFromString|join(', ')}}</td>
                            <td style="width: 20%;">{{qrset.redemptions.count}} | <a href="{{path('qrset', {'qrset': qrset.id})}}">{{'qr.view'|trans}}</a></td>
                            <td style="width: 20%;"><form action="{{path('print_qr', {'qrset': qrset.id})}}"><input type="number" name="quantity" style="width: 50px; margin-right: 5px; padding-top: 3px; padding-bottom: 6px;" value="10" /><input type="submit" class="btn btn-default btn-sm" value="{{'qr.print'|trans}}" /></form></td>
                            <td style="width: 10%;"><a href="{{path('delete_qrset', {'qrset': qrset.id})}}" class="btn btn-warning btn-sm">{{'qr.delete'|trans}}</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-12">
                <a href="{{path('new_qrset', {'course': course.id})}}" id="new-qr-set" class="btn btn-default">{{'qr.create'|trans}}</a>
                <hr />
                <a href="{{path('course_grades', {'course': course.id})}}" class="btn btn-success">{{'qr.grades'|trans}}</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}