{% extends 'PixelbonusSiteBundle::base.html.twig' %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{'qr.new'|trans}}</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row" id="new-course-form">
            <div class="col-lg-8 col-lg-offset-2">
                <form action="{{path('new_qrset', {'course': course.id})}}" method="post">
                    {{form_widget(form)}}
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" name="_print" class="btn btn-success btn-lg">{{'qr.form.print'|trans}}</button>
                            <button type="submit" name="_download" class="btn btn-default btn-lg">{{'qr.form.download'|trans}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
    <script>
        var existingTags = [{% spaceless %}
            {% for tag in existingTags %}
                "{{tag.name}}"{% if not loop.last %},{% endif %}
            {% endfor %}
        {% endspaceless%}];
    </script>
    <script src="{{asset('js/pages/qrsets.js')}}"></script>
{% endblock %}