{% extends 'PixelbonusSiteBundle::base.html.twig' %}

{% block content %}
<section>
    <div class="container">
        <p>{{'qr.print_text'|trans({'%link%': path('generate_qr', {'qrset': qrset.id, 'quantity': quantity})})|raw}}</p>
        <p><a href="{{path('course', {'course': qrset.course.id})}}">{{'qr.return_course'|trans}}</a></p>
        <iframe id="qr-iframe" style="display: none;" src="{{path('generate_qr', {'qrset': qrset.id, 'quantity': quantity, 'html': 'true'})}}"></iframe>
    </div>
</section>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('js/pages/print.js')}}"></script>
{% endblock %}