{% extends 'PixelbonusSiteBundle::base.html.twig' %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{'qr.redemptions'|trans}}</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-12">
                <h3 style="margin-top: 0px; margin-bottom: 25px;">{{qrset.course.name}}</h3>
                <h4>{{qrset.tagsFromString|join(', ')}}</h4>
                <table class="table table-bordered">
                    <tr>
                        <th>{{'redemption.participantNumber'|trans}}</th>
                        <th>{{'qr.createdAt'|trans}}</th>
                    </tr>
                    {% for redemption in qrset.redemptions %}
                        <tr>
                            <td>{{redemption.participantNumber}}</td>
                            <td>{{redemption.createdAt|date('d-m-Y')}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}