{% extends 'PixelbonusSiteBundle::base.html.twig' %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{'courses.courses'|trans}}</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-12">
                <table class="table table-bordered">
                    {% for course in courses %}
                        <tr>
                            <td><b><a href="{{path('course', {'course': course.id})}}">{{course.name}}</a></b></td>
                            <td><a href="{{path('export_course', {'course': course.id})}}">{{'qr.export'|trans}}</a></td>
                            <td style="width: 10%;"><a href="{{path('delete_course', {'course': course.id})}}" onclick="return prompt('Please type YES to delete') === 'YES';">{{'qr.delete'|trans}}</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-12">
                <a href="{{path('new_course')}}" class="btn btn-default">{{'courses.create'|trans}}</a>
            </div>
        </div>
        <hr />
        <div class="row text-center">
            <div class="col-lg-12">
                <a href="{{path('import_course')}}">{{'qr.import'|trans}}</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('js/pages/courses.js')}}"></script>
{% endblock %}