{% extends 'PixelbonusSiteBundle::base.html.twig' %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{'courses.courses'|trans}}</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-12">
                <table class="table table-bordered">
                    {% for course in courses %}
                        <tr><td><a href="{{path('course', {'course': course.id})}}">{{course.name}}</a></td></tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-12">
                <a href="{{path('new_course')}}" id="new-course" class="btn btn-default">{{'courses.create'|trans}}</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('js/pages/courses.js')}}"></script>
{% endblock %}