{% extends 'PixelbonusSiteBundle::base.html.twig' %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{'courses.no_courses'|trans}}</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-12">
                <a href="{{path('new_course')}}" id="new-course" class="btn btn-success btn-lg">{{'courses.create_first'|trans}}</a>
            </div>
        </div>
        <div class="row" id="new-course-form" style="display: none;">
            <br />
            <div class="col-lg-8 col-lg-offset-2">
                <form action="{{path('new_course')}}" method="post">
                    {{form_widget(form)}}
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" name="_submit" class="btn btn-success btn-lg">{{'courses.form.create'|trans}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('js/pages/courses.js')}}"></script>
{% endblock %}