{% extends 'PixelbonusSiteBundle::base.html.twig' %}

{% block title %}{{'redemption.header'|trans({}, 'messages')}}{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{'redemption.header'|trans({}, 'messages')}}</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <form action="{{ path("redeem_submit") }}" method="get">
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>{{'redemption.hash'|trans}}</label>
                            <input type="text" class="form-control" placeholder="{{'redemption.hash'|trans}}" name="hash" value="{{app.request.get('hash')}}" required>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>{{'redemption.participantNumber'|trans}}</label>
                            <input type="text" class="form-control" placeholder="{{'redemption.participantNumber'|trans}}" name="participantNumber" required>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" name="_submit" class="btn btn-success btn-lg">{{'redemption.submit'|trans}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}